.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page-container {
    background: #FFF;
    width: 100vw;
    min-height: 90vh;
    padding-top: 10vh;
}
.inner-container{
    background: #E5E5E5;
    height: 70vh;
    width: 60vw;
    padding-top: 5vh;
}
    
.calculator-container{
    text-align: center;
}

.input-container {
    display: inline-block;
    text-align: center;
}

.history-container{

}
.history-section {
    margin-right: 20px;
}
.memory-section {

}
.history-title {

}

.input-text {

}
.equal-text {

}
.label-result {

}

.button {
}